*.png
*.svg
*.pkl
ephys/impedance*

__pycache__/
*.pyc
*/.DS_Store
*/Deprecate/.DS_Store
*.log
.vscode/

outputs/
mua_detection.py
events.csv
psytrack
rasterm
.DS_Store
/scripted_plotting/experimental_poster_sfn.ipynb
/scripted_plotting/profiling*
/scripted_plotting/playground.ipynb
/scripted_plotting/sandbox