*.png
*.svg
*.pkl
ephys/impedance*

__pycache__/
*.pyc
*/.DS_Store
*.log

outputs/
mua_detection.py
events.csv
psytrack
rasterm
.DS_Store
/scripted_plotting/animal_6_analysis/explore.ipynb
/scripted_plotting/playground.ipynb
/scripted_plotting/experimental_poster_sfn.ipynb
/scripted_plotting/profiling*
/scripted_plotting/sandbox